<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javonharper.familiar" >

    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HabitIndexActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HabitShowActivity"
            android:label="@string/title_activity_habit_show" />
        <activity
            android:name=".HabitNewActivity"
            android:label="@string/title_activity_habit_new" >
        </activity>
        <activity
            android:name=".HabitEditActivity"
            android:label="@string/title_activity_habit_edit" >
        </activity>
        <activity
            android:name=".HabitTimerActivity"
            android:label="@string/title_activity_habit_timer" >
        </activity>
    </application>

</manifest>
